/* Menu */
#menu {
    position: fixed;
	border-right: var(--menu-border-width) solid var(--normal-menu-separator-color);
    top: 0;
    left: calc(0px - var(--menu-width) - var(--menu-border-width));
    width: var(--menu-width);
    height: 100%;
    background-color: var(--bg-opaque-color);
	padding: 0px;
	transition: left 0.3s ease-in-out;
    z-index: 4;
}

#menu.open {
	left: 0;
}

#menu ul {
    list-style: none;
}

#menu li {
	margin: 40px;
	position: relative;
	text-align: center;
}

#menu li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: var(--normal-menu-separator-color);
}

#menu-buttons a {
	color: var(--normal-menu-buttons-color);
	font-size: 1.5rem;
	text-decoration: none;
	transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out
}

#menu-buttons a:hover {
    color: var(--hover-menu-buttons-color);
	font-size: 2rem;
}

#menu .close-button {
	visibility: hidden;
	font-family: FontAwesome; 
    position: absolute;
	border: 10px solid var(--normal-menu-separator-color);
    top: 15px;
	right: -10px;
    background-color: var(--bg-opaque-color);
    padding: 6px 15px;
    border-radius: 50%;
    cursor: pointer;
	font-size: 48px;
	transition: right 0.3s ease-in-out, transform 0.3s ease-in-out
}

/* I have to add js code to add '.large-mode' class to the #menu when the wight excedes a certain  */
#menu .close-button .large-mode {
	visibility: visible;
}

#menu .close-button:hover {
	transform: rotate(315deg);
}

#menu .close-button.open {
	right: -44px;
}

#menu .close-button a {
	text-decoration: none;	
	color: var(--normal-menu-buttons-color);
	transition: color 0.2s ease-in-out;
}

#menu .close-button a:hover {
	color: var(--hover-menu-buttons-color);
}