:root {
    --bg-color: rgb(20, 22, 30);
	--bg-opaque-color: rgb(14, 16, 24);
	--bg-color-light-shade-1: rgb(37, 39, 51);
	--bg-color-light-shade-2: rgb(53, 55, 68);
	--hover-menu-buttons-color: rgb(255, 123, 0);
	--normal-menu-separator-color: rgb(107, 52, 0);
	--normal-menu-buttons-color: rgb(214, 195, 20);
	--hover-layer-color: rgb(0, 0, 0, .75);
	--primary-color: rgb(255, 123, 0);
	--primary-color-light-shade-1: rgb(255, 159, 70);
	--primary-color-dark-shade-1: rgb(199, 96, 0);
	--primary-color-dark-shade-2: rgb(105, 51, 0);
	--secondary-color: rgb(255, 251, 0);
	--secondary-color-dark-shade-1: rgb(189, 186, 0);
	--secondary-color-dark-shade-2: rgb(82, 80, 0);
    
    --connector-size: 10px;
    --menu-width: 275px;
}